/*In the main file where you put all the css*/
@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html,
#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

@layer {
  .bg-lined-grid {
    height: 16rem;
    background-image: linear-gradient(
        to right,
        rgb(203 213 225) 1px,
        transparent 1px
      ),
      linear-gradient(to bottom, rgb(203 213 225) 1px, transparent 1px);
    background-size: 2.9rem 2.9rem;
    background-position: center center;
  }

  .bg-dotted-grid {
    background-image: radial-gradient(circle, rgb(203 213 225) 1px, #fff 1px);
    background-size: 1rem 1rem;
    background-position: center center;
  }

  .figma-cursor{
    cursor: url('./assets/cursor.png'), auto;
  }

  .avatar {
    background-image: url('https://img.freepik.com/free-psd/3d-illustration-human-avatar-profile_23-2150671142.jpg?w=740&t=st=1709228492~exp=1709229092~hmac=d9dc992f5ea757e439799d734a79415ba0fb3d0db3966081d1ae0ba7db9157d6');
    background-size: cover; /* Adjust as needed */
  }
}