/*In the main file where you put all the css*/
@tailwind base;
@tailwind utilities;

body,
html,
#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

@layer {
  .bg-lined-grid {
    height: 16rem;
    background-image: linear-gradient(
        to right,
        rgb(203 213 225) 1px,
        transparent 1px
      ),
      linear-gradient(to bottom, rgb(203 213 225) 1px, transparent 1px);
    background-size: 2.9rem 2.9rem;
    background-position: center center;
  }

  .bg-dotted-grid {
    background-image: radial-gradient(circle, #c8d3de 1.5px, #f0f4f7 1.5px);
    background-size: 1rem 1rem;
    background-position: center center;
  }

  .avatar {
    background-image: url("https://img.freepik.com/free-psd/3d-illustration-human-avatar-profile_23-2150671142.jpg?w=740&t=st=1709228492~exp=1709229092~hmac=d9dc992f5ea757e439799d734a79415ba0fb3d0db3966081d1ae0ba7db9157d6");
    background-size: cover;
  }

  .placeholder {
    width: 500px;
    height: 70px;
    background: #f5f5f5;
    border: 1px solid #ddd;
    padding: 5px;
  }

  .placeholder[data-placeholder]:empty:before {
    content: attr(data-placeholder);
    color: #555;
  }

  .custom-scrollbar::-webkit-scrollbar {
    height: 5px;
    width: 5px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-track:hover {
    background-color: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-track:active {
    background-color: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #868686;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #b0b0b0;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:active {
    background-color: #868686;
  }

  .ropa-sans-regular {
    font-family: "Ropa Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .ropa-sans-regular-italic {
    font-family: "Ropa Sans", sans-serif;
    font-style: italic;
  }
  
  .flex-row-center {
    @apply flex flex-row items-center;
  }
}