/*In the main file where you put all the css*/
@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html,
#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

@layer {
  .grid-lined-grid {
    height: 16rem;
    background-image: linear-gradient(
        to right,
        rgb(203 213 225) 1px,
        transparent 1px
      ),
      linear-gradient(to bottom, rgb(203 213 225) 1px, transparent 1px);
    background-size: 2.5rem 2.5rem;
    background-position: center center;
  }

  .bg-dotted-grid {
    background-image: radial-gradient(circle, rgb(203 213 225) 1px, #fff 1px);
    background-size: 1rem 1rem;
    background-position: center center;
  }

  .figma-cursor{
    cursor: url('./assets/cursor.png'), auto;
  }
}